<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Погода</title>
</head>
<body>
    <h1>Погода</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="get_weather">Получить погоду</button>
    </form>
    {% if weather_data %}
        <h2>Погода в {{ city_name }}</h2>
        <p>Температура: {{ weather_data.current.temperature_2m }}°C</p>
        <p>Условия: Осадки {{ weather_data.current.precipitation }} мм, Скорость ветра {{ weather_data.current.wind_speed_10m }} км/ч,
            Влажность {{ weather_data.current.relative_humidity_2m }} %</p>
    {% endif %}
    <h2>Предыдущие поиски</h2>
    <ul>
        {% for search in search_history %}
            <li>{{ search.city }}</li>
        {% endfor %}
    </ul>

    <script>
        $(document).ready(function() {
            $('#id_city').autocomplete({
                source: function(request, response) {
                    console.log("Sending request to autocomplete endpoint with term:", request.term);
                    $.ajax({
                        url: "{% url 'autocomplete' %}",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function(data) {
                            console.log("Received response from autocomplete endpoint:", data);
                            response(data);
                        },
                        error: function(xhr, status, error) {
                            console.error("Error fetching suggestions:", status, error);
                        }
                    });
                },
                minLength: 2,
            });
        });
    </script>
</body>
</html>
