<!DOCTYPE html>
<html>
<head>
    <title>Погода</title>
</head>
<body>
    <h1>Погода</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="get_weather">Get Weather</button>
    </form>
    {% if suggestions %}
        <h2>Suggestions</h2>
        <ul>
            {% for suggestion in suggestions %}
                <li>{{ suggestion }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if weather_data %}
        <h2>Погода в {{ weather_data.city }}</h2>
        <p>Температура: {{ weather_data.current.temperature_2m }}°C</p>
        <p>Условия: Осадки {{ weather_data.current.precipitation }} мм, Скорость ветра {{ weather_data.current.wind_speed_10m }} км/ч,
            Влажность {{ weather_data.current.relative_humidity_2m }} %</p>
    {% endif %}
    <h2>Предыдущие поиски</h2>
    <ul>
        {% for search in search_history %}
            <li>{{ search.city }}</li>
        {% endfor %}
    </ul>
</body>
</html>
